@tailwind base;
@tailwind components;
@tailwind utilities;

.select-input {
  height: 3rem;
  min-height: 3rem;

  div.main-wrapper {
    min-height: 100%;
  }
}

.custom-accordion-item > h2 > button {
  padding: 0 !important; /* Override any existing padding */
}
