@tailwind base;
@tailwind components;
@tailwind utilities;

.select-input {
  height: 2.5rem; 
  min-height: 2.5rem; 
}

.custom-accordion-item > h2 > button {
  padding: 0 !important; /* Override any existing padding */
}